<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="styles/styles.css">
        <meta charset="UTF-8">
        <title>Physique Prices</title>
        <link rel="stylesheet" href="styles/styles.css">
        <link rel="icon" type="image" href= 'images/ImageIcon.png'>
    </head>
    <body>
        <div class="prices">
            <p>physique<br>prices</p>
            <ul>
                <li>40 ML - 55$</li>
                <li>75 ML - 65$</li>
                <li>100 ML - 80$</li>
                <li>125 ML - 90$</li>
            </ul>
            <a href="/order">
                <button class="button">Order&Pay</button>
            </a>
        </div>
        <div class="pricestitle">
            <img src="images/Eau-De-Cologne.png" alt="refimage">
        </div>
        <div>

        </div>
    </body>
</html>