<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Physique</title>
        <link rel="stylesheet" href="styles/styles.css">
        <link rel="icon" type="image" href= 'images/ImageIcon.png'>

    </head>
    <body>
        <div class="container">
            <div class="title">
                <p>physique</p>
                <img src="images/Eau-De-Cologne.png" alt="refimage">
            </div>
            <div class="manpic">
                <p>for urban man</p>
            </div>
            <div class="mappage">
                <ul>
                    <li>Germany</li>
                    <li>United Kingdom</li>
                    <li>USA</li>
                    <li>Canada</li>
                    <li>Finland</li>
                    <li>Netherlands</li>
                    <li>Norway</li>
                    <li>Sweden</li>
                    <li>Switzerland</li>
                    <li>Belgium</li>
                </ul>
                <a href="/prices">
                    <button class="button">Prices</button>
                </a>
            </div>
        </div>
    </body>
</html>