body{
    background-color: #303136;
    color: #a9a9a9;
    margin: 0;
}

@font-face {
    font-family: "HiBlack";
    src: url("../fonts/HiBlack.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

.title{
    font-family: HiBlack, serif;
    text-align: center;
    width: auto;
    height: 100vh;
    font-size: 4vw;
}

.title p{
    margin-top: 0;
    padding-top: 7vh;
}

.title img{
    padding-top: 6vh;
    max-height: 65vh;
}

.manpic{
    background-image: url("../images/Rayen Rain.png");
    background-size: cover;
    width: auto;
    height: 100vh;
}