body{
    background-color: #303136;
    color: #a9a9a9;
    margin: 0;
}

@font-face {
    font-family: "HiBlack";
    src: url("../fonts/HiBlack.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

.title{
    font-family: HiBlack, serif;
    padding-left: 60vw;
    text-align: left;
    width: auto;
    height: auto;
    font-size: 3vh;
    padding-top: 10vh;
}

.manpic{
    background-image: url("../images/man.png");
    background-size: cover;
    width: auto;
    height: 100vh;
}